.venv/
.vscode/
tmp/
tmp_test_bak_subset/
tmp_test_bak_remote/
tmp_test_tgt_local/
tmp_test_tgt_wsl/
tmp_test_tgt_nuc/
bak/
dist/
build/
logs/
*.obj
/build?/
__pycache__/
*.pyc
*.png 
*.egg-info/
*.bak
uv.lock
.cursor/
